<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher & PhD Student</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Funding: DENVI doctoral programme, Uni. Helsinki</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>What do I study in my PhD thesis?</p>
                        <p>Some more text. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher & PhD Student + Project coordinator</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Accessibility Research Group, Uni. Helsinki. Funding: KatuMetro.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Started my PhD in Accessibility Research Group. I were also the project coordinator at the time.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research assistant.</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Accessibility Research Group, Uni. Helsinki. Funding: KatuMetro.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Master student and a project researcher. Developed accessibility tools blaablaa. Continue..</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->