<section class="section projects-section">
                <h2 class="section-title"><i class="fa paragraph"></i>Selected publications</h2>
                <div class="intro">
                    <p>Here is a list of selected scientific publications and other relevant writings.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="http://ij-healthgeographics.biomedcentral.com/articles/10.1186/s12942-016-0052-x" target="_blank">Tenkanen, H., P. Saarsalmi, O. Järv, M. Salonen & T. Toivonen (2016). </a></span> -
                    <span class="project-tagline">Health research needs more comprehensive accessibility measures: integrating time and transport modes from open data. <em>International Journal of Health Geographics.</em> </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->